extends ../layouts/default

block intro
	.container
		h2 Contact Us
		
block content
	.container.pagecontent
		if enquirySubmitted
			h3 Thanks for getting in touch.
		else
			.row: .col.s8.m6
				form(method='post').form-horizontal
					input(type='hidden', name='action', value='contact')
					.input-field.col.s12
						input.validate(type='text' id='name.full' name='name.full' value=formData['name.full'] required)
						label(for='name.full') Name
					.input-field.col.s12
						input(type='email' name='email' value=formData.email required placeholder="name@domain.com")
						label(for='email') Email
					.input-field.col.s12
						input(type='text' name='phone' value=formData.phone)
						label(for='phone') Phone
					.input-field.col.s12
						textarea(name='message'  rows=8 required).materialize-textarea= formData.message
						label(for='message') Message
					.input-field.col.s12
						button(type='submit').waves-effect.waves-light.btn Submit
