extends ../layouts/default

block intro
	.container
		h3 Events
block content
	.container.pagecontent
		if events.length
			.row
				each event in events
					.col.s12.m4.card
						.col.s12
							img(src= event._.image.limit(320,320)).img-rounded
						.col.s12
							h5= event.title
						.col.s12
							label.label.col.s2 When:
							p.col.s10.content= event._.when.format('MMMM DD, YYYY')
						.col.s12
							label.label.col.s2 Where:
							p.col.s10.content= event.location
						.col.s12.content
							p!= event.content.brief
						.col.s12
							a.waves-effect.waves-light.btn(href='/events/event/' + event.slug) More Info...
		else
			.row
				h3.blue-text.text-darken-2 There are no events yet.
block page-js
	script(src='/js/fancybox/jquery.mousewheel-3.0.6.pack.js')
	script(src='/js/fancybox/jquery.fancybox.pack.js')
