body{
  background: url(../../images/bgNews.jpg) no-repeat fixed center top;
}

.heading{
  line-height: 80px;
  font-size: 1.8em;
  display: inline-block;
  margin-left: 90px;
  font-family: 'Josefin Sans' !important;
  font-style: normal;
  font-weight: bold;
}
.bgwhite{
  background-color:#fff;
}

.logodiv{
  height: 80px;
}

nav{
  height: 80px;
  line-height: 80px;
}

.brand-logo{
  background: url(../../images/slesanzlogo.jpg) no-repeat;
  width: 85px;
  height: 80px;
  overflow: hidden;
  text-indent: -9001px;
  float: left;
  position: relative;
}

#header {
  margin-top: 20px;
}

#footer {
  margin-top: 30px;
  border-top: 1px solid #eeeeee;
  padding-top: 30px;
}

.gallery-image img{
  display: block;
  max-width: 100%;
  height: auto;
}
