body{
  background: url(../../images/bgNews.jpg) no-repeat center 160px;
  background-color:#245C6B;
}
.banner{
  height: 160px;
}
.bgnavy{
  background: url(../../images/navy.jpg) no-repeat left top;
  height: 160px;
  background-size:18%;
}
.bgsoldier{
  background: url(../../images/banersoldier.png) no-repeat right top;
}
.bgarmy{
  height: 160px;
  width: 50%;
  margin-left: 167px;
  background: url(../../images/lk.gif) no-repeat left top;
}
.container{
  width:95%;
}

.heading{
  line-height: 160px;
  font-size: 2em;
  display: inline-block;
  margin-left: 0px;
  font-family: 'Josefin Sans' !important;
  font-style: normal;
  font-weight: bold;
  color: #fff;
}
.bgwhite{
  background-color:#fff;
}

.logodiv{
  height: 40px;
}

nav{
  height: 40px;
  line-height: 40px;
  background-color: #dd2c00;
}

.brand-logo{
  background: url(../../images/logo.png) no-repeat;
  width: 167px;
  height: 160px;
  overflow: hidden;
  text-indent: -9001px;
  float: left;
  position: relative;
}

#header {
  margin-top: 20px;
}

footer.page-footer {
  margin-top: -20px;
  background-color: #dd2c00;
}

.gallery-image img{
  display: block;
  max-width: 100%;
  height: auto;
}
