// materialize
// =========

// materialize can be removed entirely by deleting this line.

@import "materialize/sass/materialize.scss";

// The easiest way to customise materialize variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/_variables.scss";


// Site Styles
// ===========

// Add your own site style includes here
@import "site/layout";
@import "site/mediaqueries";


.primarycolorlighten1{
  @extend $primary-color, .lighten-1;
}

.primarycolorlighten2{
  @extend $primary-color, .lighten-2;
}

.primarycolorlighten3{
  @extend $primary-color, .lighten-3;
}

.primarycolorlighten4{
  @extend $primary-color, .lighten-4;
}

.image-title {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.row{
  padding: 0 10px 10px;
  margin: 0;
}
h3,h4,h5 {
  margin: 0;
  padding-bottom: 10px;
}
.label{
  font-size: 1.2em;
  font-weight: bold;
}

